<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!--  this is our beans using element-->
 
 <bean class="com.springcore.Student" name="student1">
 <property name="student">
 <value>2234</value>
 </property>
 
  <property name="studentName">
 <value>dileep kumar</value>
 </property>
 
  <property name="studentAddress">
 <value>pune</value>
 </property>
 </bean>
 
 
 <!-- this is second bean using attribute -->
 <bean class="com.springcore.Student" name="student2">
 <property name="student" value="2235" />
 
  <property name="studentName" value="ajay" />
 
  <property name="studentAddress" value="mumbai"/>
 
 </bean>
 
 <!-- bean using p -->
 
 <bean class="com.springcore.Student" name="student3"  p:student="2236" p:studentName="suru" p:studentAddress="mumbai" />
 
 
</beans>